@font-face {
  font-family: "Cedarville Cursive";
  src: url("./fonts/Cedarville-Cursive.woff2") format("woff2"),
    url("./fonts/Cedarville-Cursive.woff") format("woff"),
    url("./fonts/Cedarville-Cursive.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.wrapper {
  font-family: "Cedarville Cursive", sans-serif, Arial, Helvetica;
  width: 100vw;
  height: 100vh;
}

.journal {
  width: 90%;
  height: 90%;
  display: flex;
  background: #514029;
}

.page {
  padding-left: 5%;
  padding-top: 2%;
  width: 49%;
  height: 100%;
  background: #beb098;
  font-size: 1.5em;
  color: #6e604d;
}

.page.left-page {
  margin-left: auto;
  box-shadow: inset -10px 0px 10px, 5px 5px 5px;
  border-top-right-radius: 50px 15px;
  border-bottom-right-radius: 50px 10px;
}

.page.right-page {
  margin-right: auto;
  border-top-left-radius: 50px 15px;
  border-bottom-left-radius: 50px 10px;
  box-shadow: inset 5px 0px 10px, 5px 5px 5px;
}
